
  <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
 
  </head>

  <body style="padding: 0;margin: 0;">
    <div>
        <h1 rc-module="mobilePortal_en" 
            rc-key-title="Browser title" 
            rc-desc-title="浏览器标题" 
            rc-type-title="text">
            Browser title
        </h1>
        <h5 rc-module="mobilePortal_en"  
            rc-key-title2="小游戏是一个不同于浏览器的运行环境" 
            rc-desc-title2="副标题" 
            rc-type-title2="text">
            小游戏是一个不同于浏览器的运行环境
        </h5>
        <p rc-module="mobilePortal_en" 
           rc-key-content="无论是怎样的引擎，最终在游戏运行时所做的大部分事情都是 随着用户的交互更新画面和播放声音。小游戏的开发语言是 JavaScript，那么在引擎的底层就需要通过 JavaScript 调用绘制 API 和音频 API。" 
           rc-desc-content="描述" 
           rc-type-content="textarea">
           无论是怎样的引擎，最终在游戏运行时所做的大部分事情都是 随着用户的交互更新画面和播放声音。小游戏的开发语言是 JavaScript，那么在引擎的底层就需要通过 JavaScript 调用绘制 API 和音频 API。
        </p>
        <div class="banner" style="width: 100%;height: 200px; position: relative; text-align: center; padding-top: 20px;">
           
            <div class="logo" style="text-align: center;">
                    <img rc-module="mobilePortal_en" 
                         rc-key-logo="logo.png" 
                         rc-desc-logo="标志" 
                         rc-type-logo="image" 
                         rc-key-logoswitch="1" 
                         rc-desc-logoswitch="是否显示logo" 
                         rc-type-logoswitch="switch" 
                         src="logo.png" 
                         alt="" 
                         style="width: 50px; display: inline-block;">
            </div>
            <h3 rc-module="mobilePortal_en" rc-key-logon1="上网验证服务" rc-desc-logon1="上网提示语" rc-type-logon1="text" style="color: #fff; display: inline-block;">上网验证服务</h3>
            <h4 rc-module="mobilePortal_en" rc-key-logon2="免费无线上网" rc-desc-logon2="上网广告语" rc-type-logon2="text" style="color: #fff;">免费无线上网</h4>
            <div class="background" style="position: absolute; top: 0; z-index: -1;">
                    <img rc-module="mobilePortal_en"  
                         rc-key-banner="banner.jpg" 
                         rc-desc-banner="banner" 
                         rc-type-banner="image" 
                         src="banner.jpg" 
                         alt="" 
                         style="width: 100%;height:200px; ">
            </div>
        </div>
        <div class="loginarea">
            <h4 rc-module="mobilePortal_en" 
                rc-key-welcome="欢迎使用" 
                rc-desc-welcome="欢迎" 
                rc-type-welcome="text" 
                style="color: #cf102b; text-align: center;">
                欢迎使用
            </h4>
            <form action="">
                <input style="
                box-sizing: border-box;
                width: 100%;
                border-radius: 3px;
                border: 1px solid #ddd;
                vertical-align: middle;    
                height: 40px;
                text-indent: 10px
                ;margin-bottom: 20px" type="text" name="username" placeholder="请输入用户名">
                <br>
                <input style="
                box-sizing: border-box;
                width: 100%;
                border-radius: 3px;
                border: 1px solid #ddd;
                vertical-align: middle;    
                height: 40px;
                text-indent: 10px;
                margin-bottom: 20px" type="password" name="password" placeholder="请输入密码">
                <br>
                <input style="
                margin-bottom: 30px;
                width: 100%;
                background-color: #cf102b; color: #fff;font-size: 14px;
                height: 40px;
                border: none;
                border-radius: 3px;text-align: center;
                cursor: pointer;
                -webkit-appearance: none;" type="button" value="登 录">
            </form>
        </div>
    </div>
  </body>

  </html>